#DailyRecommend {
    background-color: transparent;
}

QLabel#top_cover_label {
    border-radius: 18px;
    border-image: url('RESOURCE_DIR/tablisticon/top_cover.jpg');
    background-color: #e7e7e7;
}

QLabel#under_label {
    color: #808080;
}

QLabel#monthLab {
    color: #ffffff;
    font-size: 23px;
    font-weight: bold;
}

QLabel#dayLab {
    color: #ffffff;
    font-size: 45px;
    font-weight: bold;
}

QToolButton#history_recommend_toolButton {
    background-color: #b0d5df;
    border-radius: 10px;
}

QToolButton#play_toolButton {
    margin-left: 10px;
    padding-left: 20px;
    border-radius: 17px;
    background-color: #2EA5FF;
    color: white;
}

QToolButton#play_toolButton:hover {
    background-color: #2291E6;
}

QToolButton#vip_toolButton {
    margin-left: 10px;
    padding-left: 5px;
    border-radius: 17px;
    background-color: #E7C481;
    color: white;
}

QToolButton#vip_toolButton:hover {
    background-color: #DDB76F;
}

QWidget#small_widget QToolButton {
    border-radius: 17px;
    background-color: #dee5ea;
}

QLabel#count_label {
    color: #808080;
}

QLabel#money_label {
    color: #E8AE40;
}

QWidget#desc_widget {
    padding-left: 20px;
    border-radius: 10px;
    background-color: #c6e6e8;
}

