#MusicRepositories{
    background-color: transparent;
}
QWidget#ranking_list_widget{
    border:none;
    border-radius: 6px;
    border-image: url(RESOURCE_DIR/musicrepo/rank.png);
}
QWidget#singer_widget{
    border:none;
    border-radius: 6px;
    border-image: url(RESOURCE_DIR/musicrepo/singer.png);
}
QWidget#classify_widget{
    border:none;
    border-radius: 6px;
    border-image: url(RESOURCE_DIR/musicrepo/classify.png);
}
QPushButton{
    background-color: transparent;
    color:black;
    font-size: 15px;
}
QPushButton:checked{
    font-weight: bold;
    color:#26A1FF;
}
QPushButton#more_pushButton1,
QPushButton#more_pushButton2,
QPushButton#more_pushButton3 {
    background-color: transparent;
    font-size: 12px;
}
QPushButton:hover{
    color:#26A1FF;
}