QToolButton#cloud_play_toolButton {
    font-family: 'TaiwanPearl';
    font-size: 12px;
    border: none;
    border-radius: 17px;
    color: #829eb6;
    background-color: #e2e5ff;
    padding-left: 18px;
}

QToolButton#cloud_upload_toolButton {
    font-family: 'TaiwanPearl';
    font-size: 12px;
    border: none;
    border-radius: 17px;
    color: white;
    background-color: #66d366;
    padding-left: 18px;
}

QToolButton#cloud_upload_toolButton:hover {
    background-color: #59b759;
}

QToolButton#cloud_download_toolButton,
QToolButton#cloud_delete_toolButton {
    border: none;
    border-radius: 17px;
    background-color: #e2e5ff;
}

/*--------------------small_widget------------------------------*/
QWidget#small_widget {
    border: 2px solid #B4DEFC;
    border-radius: 15px;
}

QWidget#small_widget > QFrame {
    border: none;
    background-color: #dadeff;
}

QWidget#small_widget > QToolButton {
    background-color: transparent;
}

QToolButton#cloud_share_toolButton {
    border-image: url("RESOURCE_DIR/titlebar/share-gray.svg");
}

QToolButton#cloud_share_toolButton:hover {
    border-image: url("RESOURCE_DIR/titlebar/share-blue.svg");
}

QToolButton#cloud_batch_toolButton {
    border-image: url("RESOURCE_DIR/titlebar/batch-gray.svg");
}

QToolButton#cloud_batch_toolButton:hover {
    border-image: url("RESOURCE_DIR/titlebar/batch-blue.svg");
}

QToolButton#cloud_sort_toolButton {
    border-image: url("RESOURCE_DIR/titlebar/sort-gray.svg");
}

QToolButton#cloud_sort_toolButton:hover {
    border-image: url("RESOURCE_DIR/titlebar/sort-blue.svg");
}

QLineEdit {
    border-radius: 8px;
    padding-left: 5px;
    border: 2px solid #B4DEFC;
    background-color: transparent;
}

/**************content_widget*************/
QLabel#prompt_label {
    font-family: 'TaiwanPearl';
    color: #afafaf;
}

QPushButton#search_pushButton {
    font-family: 'TaiwanPearl';
    font-size: 13px;
    border: 1px solid #1eb8ff;
    border-radius: 17px;
    color: #1eb8ff;
}