/*--------------------title_widget------------------------------*/
QToolButton#title_return_toolButton {
    background-color: transparent;
    border-image: url("RESOURCE_DIR/titlebar/return-black.svg");
}

QToolButton#title_return_toolButton:hover {
    border-image: url("RESOURCE_DIR/titlebar/return-blue.svg");
}

QToolButton#title_refresh_toolButton {
    background-color: transparent;
    border-image: url("RESOURCE_DIR/titlebar/refresh-black.svg");
}

QToolButton#title_refresh_toolButton:hover {
    border-image: url("RESOURCE_DIR/titlebar/refresh-blue.svg");
}

QWidget#title_widget QLabel {
    background-color: transparent;
}

QWidget#title_widget QPushButton {
    background-color: transparent;
    color: rgba(0, 0, 0, 50%);
}

QWidget#title_widget QPushButton:hover {
    color: #3366FF;
    font-size: 20px;
}

QWidget#title_widget QPushButton:checked {
    color: #3366FF;
    font-size: 25px;
}

QToolButton#listen_toolButton {
    background-color: transparent;
    border-image: url("RESOURCE_DIR/titlebar/listen-music-black.svg");
    border-radius: 10px;
}

QToolButton#listen_toolButton:hover {
    border-image: url("RESOURCE_DIR/titlebar/listen-music-blue.svg");
}

QToolButton#theme_toolButton {
    background-color: transparent;
    border-image: url("RESOURCE_DIR/titlebar/theme-black.svg");
}

QToolButton#theme_toolButton:hover {
    border-image: url("RESOURCE_DIR/titlebar/theme-blue.svg");
}

QToolButton#message_toolButton {
    background-color: transparent;
    border-image: url("RESOURCE_DIR/titlebar/message-black.svg");
}

QToolButton#message_toolButton:hover {
    border-image: url("RESOURCE_DIR/titlebar/message-blue.svg");
}

QToolButton#menu_toolButton {
    background-color: transparent;
    border-image: url("RESOURCE_DIR/titlebar/menu-black.svg");
}

QToolButton#menu_toolButton:hover {
    border-image: url("RESOURCE_DIR/titlebar/menu-blue.svg");
}

QToolButton#min_toolButton,
QToolButton#max_toolButton,
QToolButton#close_toolButton {
    background-color: transparent;
    border-radius: 6px;
    border: none;
    height: 30px;
    width: 30px;
    icon-size: 12px 12px;
}