QWidget{
    border:none;
    border-radius:8px;
}
QLabel#diskLab{
    background-color:transparent;
    border:none;
    border-image: url("RESOURCE_DIR/playbar/disk-black.png");
}
QLabel#textLab1{
    background-color:transparent;
    border:none;
    color:black;
    font-size: 14px;
}
QLabel#textLab2{
    background-color:transparent;
    border:none;
    color: #989898;
    font-size: 13px;
}
QLabel#adjustmentLab{
    background-color:transparent;
    border:none;
    color:black;
    font-size: 12px;
}
QLabel#adjustmentLv1Lab , QLabel#adjustmentLv2Lab , QLabel#adjustmentLv3Lab ,
QLabel#speedLv1Lab , QLabel#speedLv2Lab , QLabel#speedLv3Lab
{
    color: #989898;
}

QPushButton {
    border: 2px solid #d2d2d2;
    border-radius: 10px;
    color: #989898;
}
QPushButton:checked {
    border: 2px solid #1296DB;
    color: #1296DB;
}
QPushButton:!checked {
    border: 2px solid #d2d2d2;
    color: #989898;
}
QPushButton:hover {
    border: 2px solid #1296DB;
    color: #1296DB;
}
