/*--------------------operation_widget------------------------------*/
QToolButton#recently_play_toolButton {
    font-family: 'TaiwanPearl';
    font-size: 13px;
    color: white;
    border: none;
    border-radius: 17px;
    padding-left: 13px;
    background-color: #269dff;
}

QToolButton#recently_play_toolButton:hover {
    background-color: #2085d9;
}

QToolButton#recently_download_toolButton {
    border: none;
    border-radius: 17px;
    background-color: #e2e5ff;
}

QToolButton#recently_download_toolButton:hover {
    background-color: #dadeff;
}

/*--------------------small_widget------------------------------*/
QWidget#small_widget {
    border: 2px solid #B4DEFC;
    border-radius: 15px;
}

QWidget#small_widget > QFrame {
    border: none;
    background-color: #dadeff;
}

QWidget#small_widget > QToolButton {
    background-color: transparent;
}

QToolButton#recently_share_toolButton {
    border-image: url("RESOURCE_DIR/titlebar/share-gray.svg");
}

QToolButton#recently_share_toolButton:hover {
    border-image: url("RESOURCE_DIR/titlebar/share-blue.svg");
}

QToolButton#recently_batch_toolButton {
    border-image: url("RESOURCE_DIR/titlebar/batch-gray.svg");
}

QToolButton#recently_batch_toolButton:hover {
    border-image: url("RESOURCE_DIR/titlebar/batch-blue.svg");
}

QToolButton#recently_sort_toolButton {
    border-image: url("RESOURCE_DIR/titlebar/sort-gray.svg");
}

QToolButton#recently_sort_toolButton:hover {
    border-image: url("RESOURCE_DIR/titlebar/sort-blue.svg");
}

QLineEdit {
    border-radius: 8px;
    padding-left: 5px;
    border: 2px solid #B4DEFC;
    background-color: transparent;
}

/**************content_widget*************/
QLabel#prompt_label {
    font-family: 'TaiwanPearl';
    color: #afafaf;
}

QPushButton#search_pushButton {
    font-family: 'TaiwanPearl';
    font-size: 13px;
    border: 1px solid #1eb8ff;
    border-radius: 17px;
    color: #1eb8ff;
}
